.btn,
a.btn {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 80px;
	background-color: #039be5;

	font-size: 16px;
	font-weight: 700;
	color: #fff;
	display: flex;
	column-gap: 10px;
	text-align: center;
	text-decoration: none;

	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: #1684ba;
	}

	&--wide {
		width: 100%;
	}
}
.btn-link,
a.btn-link {
	display: inline-block;
	padding: 6px 10px;
	border-radius: 3px;
	background-color: #f2f2f2;

	font-weight: 400;
	font-size: 14px;
	color: #000;
	text-align: center;
	text-decoration: none;

	display: flex;
	gap: 5px;
	align-items: center;

	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: #939191;
	}
}
